{% include "../navbar/navbar.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href={% static "eFeed/efeed.css" %}>
<script src={% static "eFeed/efeed.js" %}></script>

<div class="row">
  <div class="column">
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/p1xietae-vminfruity-cute-jimin-funny-jimin-jimin-laughing-gif-24431614.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/thumbs-up-thumbs-up-gif-thumbs-up-anime-thumbs-jungkook-gif-23252142.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/ksjprincee-jungkook-jungkook-bts-jungkook-cute-jungkook-smile-gif-24441916.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/bts-mubashshera-jungkook-jungkook-cute-jungkook-birthday-gif-23995920.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/bts-bangtan-boys-bangtan-sonyeondan-bts-v-kim-taehyung-gif-16658106.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/bts-bangtan-boys-bangtan-sonyeondan-jungkook-jeon-jungkook-gif-17359075.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/bts-v-gif-19490441.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/bts-bangtan-boys-bangtan-sonyeondan-bts-v-kim-taehyung-gif-17650483.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/bts-funny-face-bangtan-boys-bangtan-sonyeondan-army-gif-14114289.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/bts-bangtan-boys-bangtan-sonyeondan-kpop-rm-gif-17839767.gif" alt="tenor"></a>
  </div>
  <div class="column">
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/justin-bieber-justin-bieber-gif-7869860.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/jondeson-gif-23417612.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/dancing-justin-bieber-peaches-song-jamming-partying-gif-21043289.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/dance-dance-moves-kid-black-kid-vibe-gif-22169658.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/yeah-justin-bieber-peaches-song-yes-positive-gif-21323741.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/shoulder-dance-justin-bieber-daniel-caesar-giveon-peaches-song-gif-21323745.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/expectationversusreality-gif-8966046.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/jumping-and-singing-justin-bieber-hold-on-song-dancing-having-fun-with-the-music-gif-21323490.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/one-direction-1d-concert-live-singing-gif-3571788.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/dancing-1d-gif-22895171.gif" alt="tenor"></a>
  </div>
  <div class="column">
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/justin-bieber-tantrum-tantrum-justin-bieber-gif-24652299.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/snoop-dogg-rap-hip-hop-west-coast-crips-gif-24898891.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/harry-styles-cute-funny-sassy-gif-22477757.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/harry-styles-hair-gif-23140902.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/harry-styles-1d-one-direction-cute-handsome-gif-17923383.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/justin-bieber-sexy-shirtless-all-that-matters-music-video-gif-14717834.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/bizzle-sir-bizzle-jb-justin-bieber-justin-bieber-confident-gif-24957053.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/justin-bieber-hailey-bieber-hailey-baldwin-jailey-the-biebers-gif-17938115.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/spider-man-spider-man-no-way-home-tobey-maguire-andrew-garfield-tom-holland-gif-24990719.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/spider-man-spider-man-no-way-home-tobey-maguire-andrew-garfield-tom-holland-gif-24990740.gif" alt="tenor"></a>
  </div>
  <div class="column">
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/spider-man-no-way-home-spider-man-tom-holland-marvel-tobey-maguire-gif-23548160.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/spiderman-dance-cool-gif-14425327.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/spiderman-gif-22169874.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/tom-holland-no-way-home-gif-24192536.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/gwen-amazing-spiderman-gif-7833664.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/iron-man-iron-man-mark50-iron-man-infinity-war-gif-25060848.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/iron-man-awesome-infinity-war-gif-23357870.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/lisa-cute-lisa-blackpink-lisa-blackpink-psd-gif-23663452.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/blackpink-kpop-lalisa-manoban-pranpriya-manoban-lisa-gif-17644261.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/lalisa-manoban-lisa-pretty-cute-blackpink-gif-16393293.gif" alt="tenor"></a>
  </div>
  <div class="column">
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/blackpink-kpop-lalisa-manoban-pranpriya-manoban-lisa-gif-17725234.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/this-bitch-this-bish-drama-jisoo-kim-kim-jisoo-gif-23867103.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/blackpink-kpop-lalisa-manoban-pranpriya-manoban-lisa-gif-17235563.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/blackpink-lisa-rose-kpop-gif-15130397.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/lisa-blackpink-kpop-lalisa-lalisamanoban-gif-22820342.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/jennie-jennie-kim-blackpink-blackpink-jennie-knowing-brothers-gif-20149725.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/jennie-edit-jennie-pretty-kim-jennie-jennie-kim-jenjie-kpop-gif-18054914.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/zayn-zaynmalik-sexy-date-smile-gif-4796524.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/zayn-malik-harry-styles-smile-pointing-one-direction-gif-17422277.gif" alt="tenor"></a>
	<a class="grid-item" href="https://emoji.biz/"><img src="https://tenor.com/view/bang-bang-joe-biden-jim-carrey-saturday-night-live-finger-guns-gif-18779213.gif" alt="tenor"></a>
  </div>
</div>

{% endblock %}
